.body {
    background-color: palegreen;
}
h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box{
    border: 1px solid green;
    display: flex;
    justify-content: center;
    flex-direction:  column;
    box-sizing: border-box;
}

.title{
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    text-rendering: optimizeLegibility;
    color: rgba(175, 47, 47, 0.15);
    margin: 0 auto;
}
.form {
    margin: 0 auto;
    margin-bottom: 15px;
}
.todo{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    padding: 16px 16px 16px 60px;
    color:  #55595c;
    opacity: 0.3;
    width: 165px;
}
.todo:focus {
    border: 1px solid red;
    outline: none;
}
.myUl{
    padding: 0;
    margin: 0 auto;
}
.button {
    background-color: #0275d8;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px;
    border: 1px solid #0275d8;
}
.completed {
    background-color: red;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px;
    border: 2px solid red;
}
.checkundone {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
    width: 250px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.checkundone:nth-child(odd) {
    background: #f9f9f9;
}
.checkundone:hover{
    background: #ddd;
}
.checkdone {
    color: #999;
    text-decoration: line-through;
    list-style-type: none;
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
    width: 250px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.btn {
    position: relative;
  }
.btn:hover {
    background-color: #f44336;
    color: white;
}
.check-input {
    margin-right: 50px;
}
.palette{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid transparent;
    background-color: white;
    filter: "drop-shadow(0px 0px 5px #666)"
}
.panelShow {
    display: block;
}
.panelNot {
    display: none;
}