.body {
    background-color: palegreen;
}
h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box{
    border: 1px solid green;
    display: flex;
    justify-content: center;
    flex-direction:  column;
    box-sizing: border-box;
}

.title{
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    text-rendering: optimizeLegibility;
    color: rgba(175, 47, 47, 0.15);
    margin: 0 auto;
}
.form {
    margin: 0 auto;
    margin-bottom: 15px;
}
.todo{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    padding: 16px 16px 16px 60px;
    color:  #55595c;
    opacity: 0.3;
    width: 165px;
}
.todo:focus {
    border: 1px solid red;
    outline: none;
}
.myUl{
    padding: 0;
    margin: 0 auto;
}
.button {
    background-color: #0275d8;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px;
    border: 1px solid #0275d8;
}
.completed {
    background-color: red;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px;
    border: 2px solid red;
}
.checkundone {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
    width: 250px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.checkundone:nth-child(odd) {
    background: #f9f9f9;
}
.checkundone:hover{
    background: #ddd;
}
.checkdone {
    color: #999;
    text-decoration: line-through;
    list-style-type: none;
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
    width: 250px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.btn {
    position: relative;
  }
.btn:hover {
    background-color: #f44336;
    color: white;
}
.check-input {
    margin-right: 50px;
}
.palette{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid transparent;
    background-color: white;
    filter: "drop-shadow(0px 0px 5px #666)"
}
.panelShow {
    display: block;
}
.panelNot {
    display: none;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
fieldset {
    border-style: double;
    border-color: #4d94ff;
    max-width: 400px;
	padding: 0.3em 3em;
	text-align: center;
}
fieldset:nth-of-type(1) {
    margin-top: 20px;
    padding-top: 2em;
    border-width: 4px 4px 0 4px; 
}
fieldset:nth-of-type(2) {
    padding-bottom: 2em;
    margin-bottom: 20px;
    border-width: 0 4px 4px 4px; 
}
legend {
    display: none;
    border-style: solid;
    border-color: #4d94ff;
    border-width: 0 2px;
    color: #4d94ff;
    padding: 0.5em 0.8em 0.3em 0.8em;
    text-align: left;   
}
input {
    border-width: 0 0 2px 0;
    border-color: #4d94ff;
    background-color: 	#00FFFF;
    width: 200px;
	font-size: 24px;
	font-family: sans-serif;
}
input:focus {
    outline: none;
}
select {
    cursor: pointer;
    appearance: none;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 1em;
    padding: 0.2em 0.1em 0.1em 0.3em;
}
select:focus {
    outline: none;
    outline-style: none;
	text-shadow: 0 0 0 #000;
}
.Board {
    position: relative;
    margin: 0 auto;
    background-color: #000;
    background-image:
    linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
}
.Cell {
    background: #ccc;
    position: absolute;
}
